@model List<SocialNetworkAnalyser.Data.Entities.DataSet>
@using GridMvc.Html
@using SocialNetworkAnalyser.Utility


<div class="container">
    <div>
        @Html.ActionLink("Upload file", "LoadFile", "Home", null, new { @class = "btn btn-primary" })
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1 mb-3">

            <div class="row">
                @Html.Grid(Model).Columns(column =>
           {
               column.Add(c => c.Name).Titled("Dataset name").Filterable(true);
               column.Add(c => c.Created).Titled("Created").Sortable(true);
               column.Add()
               .Encoded(false)
               .Sanitized(false)
               .SetWidth(30)
               .RenderValueAs(dataset => Html.ButtonJsClick("Show", string.Format("Site.showDataSetStatistics('{0}')", dataset.Id), new { @class = "btn btn-primary btn-sm" }));
           }).WithPaging(10).Named("dataSetGrid").Selectable(false).Sortable(true)
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="d-flex justify-content-between align-items-center mb-3">

                <div id="statisticsPanel" class="invisible" style="max-width:350px;">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Statistics:</b>
                        </li>
                        <li class="list-group-item">
                            <span><b>Dataset name:</b> <span id="DatasetName"></span></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total users count in dataset:
                            <span id="TotalUsersCount" class="badge badge-primary badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Average friends count for each user:
                            <span id="AverageFriendCountForUser" class="badge badge-primary badge-pill"></span>
                        </li>
                    </ul>
              
                </div>
            </div>

        </div>
    </div>
</div>



