@model SocialNetworkAnalyser.Models.DataSetStatisticsModel

<div>
    <div class="row">Total count: @Model.TotalUsersCount</div>
    <div class="row">Average friends count: @Model.AverageFriendCountForUser</div>
</div>
